.tab-list {  
  border-bottom: 1px solid black;
  padding-left: 0;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  color: black;
  font-weight: 500;
}

.tab-list-active {
  background-color: rgba(139, 89, 92, 0.541);
  border: solid rgb(14, 13, 13);
  border-width: 1px 1px 0 1px;
}

table {
	display: table;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  color: white;
}
.email-table {
	display: table;
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  color: black;
}

th {
  padding: 7px;
}

td{
  border: 1px solid #141313;
  text-align: left;
  padding: 6px;
  color: black;
}

td:nth-child(even) {
  background-color: #cbcfc5;
}

td:nth-child(odd) {
  background-color: #6988a57c;
}

.right {
  text-align: right;
  float: right;
  color: black;
}

.account {
  Margin-right: 20px;
  border-radius: 50%;
  border: 2px #dddddd solid;
  margin-left:5px;
}

.Top {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-design {
  overflow: hidden;
  background-color: rgb(37, 35, 35);
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  z-index: 1;
}

body{
  margin-top: 64px;
  position: relative;
}

.dashboard-design {
  height: 100vh;
  background-image: url(/src/components/data-back.jpg);
  width: 100%;
  background-size: cover;
  color: black;
}
