.design {
  height: 89.5vh;
  display: flex;
  color: white;
}

.appAside {
  width: 50%;
  background-image: url(/src/components/Auth/mountain.jpg);
}

.appForm {
  width: 50%;
  background-color: #12130f;
  padding: 25px 40px;
  overflow: auto;
  color: white;

}

.formCenter {
  margin-bottom: 100px;
}

.formField {
  margin-bottom: 10px;
}

.formFieldInput {
  width: 70%;
  background-color: #565a59;
  border: none;
  color: white;
  outline: none;
  border-bottom: 2px solid #187561;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 5px;
  margin-top: 10px;
  border-radius: 5px;
  opacity: 0.8;
  padding-left: 5px;
  padding-top: 5px;
}

.formFieldInput::placeholder {
  color: #48b9a7;
}

.formFieldButton {
  background-color: #399283;
  border: 5px;
  color: black;
  border: none;
  width: 35%;
  outline: none;
  border-radius: 25px;
  padding: 8px;
  font-size: 16px;
  font-weight: 400;
}

.formFieldLink {
  color: #187561;
  text-decoration: none;
  display: inline-block;
}

.register-design {
  height: 89.5vh;
  background-image: url(/src/components/Auth/registerBack.jpg);
  opacity: 0.9;
  background-size: cover;
}

.signupSection {
  background: rgb(44, 43, 43);
  background-repeat: no-repeat;
  opacity: 0.8;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

